<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EscInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <appSettings>
    <!--The communication speed when connecting using a com port-->
    <add key="baudrate" value="38400" />
    <!--This password is send to enter 
    the configuration mode of the esc-->
    <add key="defaultPw" value="579ACE" />
    <!--defines how long the GUI for a response after 
    sending an enter installation command-->
    <add key="InstallCommandTimeout" value="5" />
    <add key="CompressorEnabled" value="true" />
    <add key="InputsensitivityIsEnabled" value="true" />
    <!-- if disabled no settings are stored in the eeprom -->
    <add key="SetEepromEnabled" value="true" />
    <!-- enables dsp safe load function. Otherwise regular upload is used -->
    <add key="SafeloadEnabled" value="true" />
    <!--Enables the line monitoring block -->
    <add key="MonitoringEnabled" value="true" />
    <add key="EepromUpdateEnabled" value="true" />
    <!--Determines if the gui needs to send keep alive commands-->
    <add key="KeepAliveEnable" value="true" />

    <add key="VuMeterCorrect" value="13" />

    <add key="MeasurementSettingsEnabled" value="false" />

    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="PresentationFramework" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WindowsBase" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Data" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="PresentationCore" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Core" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Drawing" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Xml" publicKeyToken="b77a5c561934e089" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.0.0" newVersion="4.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35"
                          culture="neutral"/>
        <bindingRedirect oldVersion="4.0.0.0" newVersion="4.5.0.0" />
      </dependentAssembly>

    </assemblyBinding>
  </runtime>
  <userSettings>
    <EscInstaller.Properties.Settings>
      <setting name="RecentLocationProject" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentLocationSpeakersMaster" serializeAs="String">
        <value />
      </setting>
      <setting name="RecentLocationImport" serializeAs="String">
        <value />
      </setting>
      <setting name="ReadCommunicationDisclaimer" serializeAs="String">
        <value>False</value>
      </setting>
    </EscInstaller.Properties.Settings>
  </userSettings>
  
</configuration>