<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="EscInstaller.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
  </startup>
  <appSettings>
    <!--The communication speed when connecting using a com port-->
    <add key="baudrate" value="38400"/>
    <!--This password is send to enter 
    the configuration mode of the esc-->
    <add key="defaultPw" value="579ACE"/>
    <!--defines how long the GUI for a response after 
    sending an enter installation command-->
    <add key="InstallCommandTimeout" value="5"/>
    <add key="CompressorEnabled" value="true"/>
    <add key="InputsensitivityIsEnabled" value="true"/>
    <!-- if disabled no settings are stored in the eeprom -->
    <add key="SetEepromEnabled" value="true"/>
    <!-- enables dsp safe load function. Otherwise regular upload is used -->
    <add key="SafeloadEnabled" value="true"/>
    <!--Enables the line monitoring block -->
    <add key="MonitoringEnabled" value="true"/>
    <add key="EepromUpdateEnabled" value="true"/>
    
    <!--Determines if the gui needs to send keep alive commands-->
    <add key="KeepAliveEnable" value="true"/>
    <!--don't touch this setting-->
    <add key="IsInstallerMode" value="true"/>
    
    <!--Messages use a - 0 based order internally. 
    When downloading messages from the mcu, this value is beeing added to the id that is requested.
    Example: When value == 2 => MessageSelectionDeltaReceive=2 => put in location 2-2=0 -->
    <add key="MessageSelectionDeltaReceive" value="2"/>
    
    <!--This value is added to all ABCD messages 
    before their value is send to the mcu.-->
    <add key="MessageABCDSend" value="0"/>

    <!--This value is added to all PREANNOUNCE messages 
    before their value is send to the mcu.-->
    <add key="MessagePreannounceSend" value="0"/>


    <!--This value is added to the the number the esc says 
    the ABCD messages is located at before it is selected in the installer -->
    <add key="MessageABCDReceiveFromMcuDelta" value="0"/>

    <!--This value is added to the the number the esc says 
    the PREANNOUNCE messages is located at before it is selected in the installer -->
    <add key="MessagePreannounceReceiveFromMcuDelta" value="1"/>

    <add key="VuMeterCorrect" value="13"/>
    <add key="CanUserManipulateInterval" value="true"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="System.Windows.Interactivity" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Practices.ServiceLocation" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-1.3.0.0" newVersion="1.3.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <userSettings>
    <EscInstaller.Properties.Settings>
      <setting name="RecentLocationSpeakersMaster" serializeAs="String">
        <value/>
      </setting>
      <setting name="RecentLocationProject" serializeAs="String">
        <value/>
      </setting>
      <setting name="RecentLocationImport" serializeAs="String">
        <value/>
      </setting>
      <setting name="RecentLocationSpeakersUser" serializeAs="String">
        <value/>
      </setting>
    </EscInstaller.Properties.Settings>
  </userSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
